* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}
html{
  scroll-behavior: smooth;
}
.container{
  padding: 0 100px 0 100px;
}

nav ul,
.main-info-section,

.work-category{
display: flex;
flex-wrap: wrap;
justify-content: space-between;

}
body{
  background-color: #010c21;
}
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0;
}
.navbar {
  background-color: #040015;
  
}
.titleElements {
  font-size: 15px;
  padding-top: 15px;
  display: inline-block; 
  color: #ffffff; 
}
.titleElements:hover {
 color: #0066ff;  
 text-shadow: 0 0 1.2rem #0066ff;       
}
header h1,
header a,
.text p,
.about h1,
.skills h1,
.work h1,
.contact h1 {
  color: #ffff;
}
li{
  list-style: none;
  margin-left: 30px;
}
a {
text-decoration: none;
font-size: 1rem;
text-transform: uppercase;
position: relative;
top: 50%;
bottom: 50%;
transform: translateY(-50%);
}
.main-info-section {
  height: calc(100vh - 81.6px);
}
.headerLogo{
  float: left;
  margin-left: -4rem;
  margin-top: -4.25rem;
  width: 350px;
  height: 125px;
}
.text {
margin-top: 120px;
}
.text h1{
  color: #fff;
  font-size: 3rem;
  cursor: context-menu;
}
.text span {
  display: inline-block;
}
span:hover {
  color: #aba1ff;
  transition: all 0.5s;
}
span.name {
  color: #0066ff;
}
span.m-left {
  margin-left: -10px;
}
.text p {
  letter-spacing: 3px;
  word-spacing: 10px;
  font-size: 0.8rem;
}
.text a{
  padding: 12px 25px;
  background-color: none;
  border: 3px solid#0066ff;
  color:#0066ff;
  font-size: 0.8rem;
  letter-spacing: 2px;
  position: relative;
  top: 80px;
  overflow: hidden;
  transition: 0.5s;
  display: inline-block;
}
.text a:hover {
  color: #fff;
}
.text a::before {
  content: '';
  background-color:#0066ff;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0%;
  z-index: -1;
  transition: 0.5s;
}
.text a:hover::before {
  height: 100%;

}
.profile-image img{
  width: 450px;
  margin-top: 50px;
  box-shadow: 0 0 0.5rem #0066ff;
}
.about {
  height: 100vh;
  margin-top: 100px;
}
.about h1{
  color: #041e4dd2;
  font-size: 150px;
  top: 30px;
}
.work h1 {
  color: #041e4dd2;
  font-size: 10rem;
  z-index: 0;
  
}
.about-me-info {
  max-width: 950px;
  background-color: #05203c;
  box-shadow: 0 0 1.2rem rgba(18, 0, 136, 0.487);
  padding: 50px;
  position: relative;
  top: -70px;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.about-me-info p {
   font-size: 1.3rem;
   color: #ffffff;
}
.about-me-info p:nth-child(2),
.about-me-info p:last-child {
    margin-top: 30px;
}
.about img {
  width: 600px;
  height: 550px;
  position: relative;
  top: -300px;
  left: calc(100% - 100px);
  right: calc(100% - 100px);
  transform: translateX(calc(-100% + 100px));
}
.skills {
height: 115vh;
margin-top: 100px;
}

.skills h1{
  color: #041e4dd2;
  font-size: 150px;
}
.contact h1 {
  text-align: left;
  color: #041e4dd2;
  font-size: 140px;
}

.skills-info {
  font-size: 1.4rem;
  color: #ffffff;
  max-height: 800px;
  position: relative;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  text-align: center;
  margin-bottom: 50px;
}

.html {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;
}

div[class^='tag-'] {
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0% 50%, 0% 0%);
  width: 120px;
  height: 30px;
  background-color: #0066ff;
  margin-right: 30px;
}
div[class^='tag-'] p {
  color: #ffffff;
  text-align: left;
  padding-left: 10px;
  font-size: 1.1rem;
  padding-top: 3px;
}

.progressbar {
  position: relative;
  width: 600px;
  height: 20px;
  border: 2px solid #ffffff;
  box-shadow: 0 0 0.25rem #fff;
  border-radius: 20px;
  margin-top: 7px;
}

div[class^='bar-'] {
  position: absolute;
  background-color: #0066ff;
  height: 10px;
  border-radius: 20px;
  margin: 2.7px;
}

.bar-html,
.bar-css,
.bar-javascript,
.bar-react {
  width: calc(0 - 6px);
}

.work-category button {
  text-transform: capitalize;
  border: 3px solid #0066ff;
  padding: 15px 30px;
  border-radius: 50px;
  color:#0066ff;
  font-size: 1.1rem;
  letter-spacing: 1px;
  background-color:#040015;
  outline: none;
  cursor: pointer;
}
div[class^='category-'] {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.work a {
  color: #fff;
  justify-self: center;
  position: relative;
  display: inline-block;
}

.work-category .active {
  background-color: #000000;
}

button.active {
  color: #040015;
}

.work a img {
  width: 350px;
  height: 200px;
  box-shadow: 0 0 0.5rem #0066ff;
  justify-self: center;
}

div.hideCategory {
  display: none;
}

.contact {
  margin-top: 120px;
}
form input,


form textarea {
  display: block;
  width: 500px;
  padding: 20px;
  background-color:#040015;
  border: 3px solid #0066ff;
  box-shadow: 0 0 0.5rem #0066ff;
  margin: 20px 0;
  outline: none;
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
  position: relative;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);

}

form input:last-child {
  width: 150px;
  background-color: #040015;
  border-color: #0066ff;
  cursor: pointer;
}
footer hr {
  border: 2px solid #ffffff;
  margin-top: 80px;
}
footer p {
  text-align: center;
  color: #ffffff;
  font-size: 1.2rem;
  padding: 30px 0;
}
.Email-description {
  text-align: center;
  color: #0066ff;
}
